---
---

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "youmurdererbb_reg";
  src: url("../assets/youmurdererbb_reg.otf");
}

body {
  font-family: "youmurdererbb_reg";
}

#welcome {
  font-size: 10rem;
}

